
body {
    margin:0 ;
    padding: 0;
    font-family: sans-serif;
}

.menu {
    width: 100%;
    background: #0b055a;
    padding: 0 200px;
    box-sizing: border-box;
    color: #ffffff;
}

.menu h1 {
    margin: 0;
    padding: 0 20px;
    float: left;
}

.menu h1 a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.menu ul {
    margin: 0;
    padding: 0;
    float: right;
    text-decoration: none;
}

.menu ul li {
    padding: 20px 10px;
    margin: 10px 10px;
    list-style: none;
    display: -webkit-inline-box;
    transition: 0.5s;
}

.menu ul li:hover {
    background: #460707;
    cursor: pointer;
}

@media (max-width: 900px) {
    .menu {
        display: none;
    }

    .menu h1 {
        display: block;
        float: none;
    }

    .menu ul {
        float: none;
    }

    .menu ul li {
        display: block;
    }
}